<html>
    <head>
        <title>Edit Book</title>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>Edit Book</h1>
        <div id="app">
            <div v-show="!loaded">
                Loading...
            </div>
            <div v-show="loaded" style="display:none">
                <label for="title">Title</label><br/>
                <input type="text" id="title" name="title" placeholder="Enter Book Title" v-model="book.title" /><br/>
                <br/>
                <input type="button" value="Discard Changes" @click="onCancel"/>
                <input type="button" value="Save" @click.prevent="onSave"/>
            </div>
        </div>

        <script>
            new Vue({
                el: '#app',
                data:
                {
                    href: '[[${href}]]',
                    book: {},
                    loaded: false
                },
                created()
                {
                    if (this.href)
                    {
                        axios.get(this.href)
                             .then(response=>
                             {
                                this.book=response.data;
                             })
                             .catch(error=>
                             {
                                console.log(error);
                                alert(error);
                             });
                    }

                    this.loaded = true;
                },
                methods:
                {
                    onSave(evt)
                    {
                        let cmd = this.href ? axios.put(this.href, this.book) : axios.post("/api/books", this.book);

                        cmd.then(response=>
                        {
                            alert("Book " + (this.href ? "saved!" : "created!"));
                            window.location.href = "/books";
                        })
                        .catch(error=>
                        {
                            console.log(error);
                            alert(error);
                        });
                    },
                    onCancel()
                    {
                        window.location.href = "/books";
                    }
                }
            })
        </script>
    </body>
</html>