<html>
    <head>
        <title>Edit Author</title>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>Edit Author</h1>
        <div id="app">
            <div v-show="!loaded">
                Loading...
            </div>
            <div v-show="loaded" style="display:none">
                <label for="first_name">First Name</label><br/>
                <input type="text" id="first_name" name="first_name" placeholder="Enter First Name" v-model="author.first_name" /><br/>
                <br/>
                <label for="last_name">Last Name</label><br/>
                <input type="text" id="last_name" name="last_name" placeholder="Enter Last Name" v-model="author.last_name" /><br/>
                <br/>
                <input type="button" value="Discard Changes" @click="onCancel"/>
                <input type="button" value="Save" @click.prevent="onSave"/>
            </div>
        </div>

        <script>
            new Vue({
                el: '#app',
                data:
                {
                    href: '[[${href}]]',
                    author: {},
                    loaded: false
                },
                created()
                {
                    if (this.href)
                    {
                        axios.get(this.href)
                             .then(response=>
                             {
                                this.author =
                                {
                                    "first_name": response.data.first_name,
                                    "last_name": response.data.last_name
                                }
                                console.log(this.author);
                             })
                             .catch(error=>
                             {
                                console.log(error);
                                alert(error);
                             });
                    }

                    this.loaded = true;
                },
                methods:
                {
                    onSave(evt)
                    {
                        let cmd = this.href ? axios.put(this.href, this.author) : axios.post("/api/authors", this.author);

                        cmd.then(response=>
                        {
                            alert("Author " + (this.href ? "saved!" : "created!"));
                            window.location.href = "/authors";
                        })
                        .catch(error=>
                        {
                            console.log(error);
                            alert(error);
                        });
                    },
                    onCancel()
                    {
                        window.location.href = "/authors";
                    }
                }
            })
        </script>
    </body>
</html>